/* Primera caja */

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 241, 241);
    padding: 10px;
}

.flex-container{
    display: flex;
    background-image:url(../images/fons.jpg);
    background-position: center;
    width: 100%;
    height: 300px;
    margin: 0px;
}

.flex-container > article {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.flex-container > div img{
    width: 80px;
}

.flex-container > div nav{
    display: flex;
    margin-top: 50px;
}

.flex-container > div nav a{
    text-decoration: none;
    color: rgb(61, 63, 64);
}

.flex-container > div nav a:hover{
    color: rgb(199, 74, 39);
}

.flex-container > div nav img{
    width: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-container > div:last-child img{
    display: flex;
    width: 15px;
    margin: auto;
    margin-top: 15px;
}

.flex-container2{
    position: relative;
    display: flex;
    background-color: rgb(251, 124, 21);
    margin-top: 7px;
}

.flex-container2 > div {
    position: absolute;
    top: -125px;
    display: flex;
    background-color: #28220422;
    min-width: 98%;
    height: 100px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 30px;
    color: rgba(254, 98, 174, 0.573);
}

/* Segunda caja */

.container2{
    display: flex;
    flex-direction: row;
    background-color: rgb(214, 214, 214);
    padding: 10px;
}

.flex-container3{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-basis: 80%;
    background-color: rgb(214, 214, 214);
}

.flex-container3 > article{
    width: 47%;
    background-color: rgb(231, 231, 231);
    height: auto;
    margin: 10px;
}

.flex-container3 > article img{
    display:block;
    margin:auto;
    width: 95%;
    height: 400px;
    margin-top: 10px;
    object-fit: fill;
    overflow: hidden;
    object-fit: cover;

}

.flex-container3 > article .info_articulo{
    width: 95%;
    display:block;
    margin:auto;
    height: 40px;
    background-color: rgb(246, 82, 82);
    color: #fff;
    font-weight: 800;
}

.flex-container3 > article p{
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
    color: rgb(61, 63, 64);
}

.flex-container3 > article:last-child{
    width: 95%;
    height: auto;
}

.flex-container3 > article:last-child .info_articulo{
    width: 98%;
}

.flex-container3 > article:last-child img{
    width: 98%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}

aside{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: rgb(224, 80, 51);
}

aside > div{
    background-color: #f8e37e;
    max-width: 100%;
    height: 10px;
    margin: 10px;
}

/* Tercera caja */

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 241, 241);
}

footer > div{
    background-color: #f8ce00;
    max-width: 100%;
    height: 10px;
    margin: 10px;
}

/* Media Queries */
/* Versión tablet */

@media screen and (max-width: 992px) {

  /* Segunda caja */

    .container2{
        flex-direction: column;
        background-color: rgb(214, 214, 214);
    }

    .flex-container3 > article {
        width: 46%;
    }

    aside{
        margin-top: 10px; 
    }

    aside > div:first-child{
        margin-bottom: 1px;
    }
}

/* Versión móvil */

@media screen and (max-width: 600px) {

    /* Primera caja */

    .flex-container{
        flex-wrap: wrap;
    }

    .flex-container > article{
        width: 100%;
    }

    .flex-container > div img{
        width: 60px;
    }

    .flex-container > div nav{
        margin-top: -45px;
    }

    .flex-container > div:last-child{
        flex: none;
        margin-top: -230px;
        margin-left: 230px;
    }

    .flex-container > div:last-child img{
        width: 10px;
    }

    .flex-container2 > div {
        min-width: 95%;
        font-size: 20px;
    }

    /* Segunda caja */

    .flex-container3{
        background-color: rgb(214, 214, 214);
    }

    .flex-container3 > article {
        background-color: rgb(231, 231, 231);
        width: 100%;
    }

    .flex-container3 > article:last-child{
        background-color: rgb(231, 231, 231);
    }

    aside{
        background-color: rgb(255, 106, 0);
    }

    aside > div{
        background-color: rgb(248, 165, 106);
    }
}